/AIDL_Fuzzer_Autogen.pdf filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/av.git/objects/pack/pack-0fa0eea78d3bcb2d053153d5a93b03d756b42956.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/av.git/objects/pack/pack-2b0ca2b34ba252e7578d560009849969858e8562.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/av.git/objects/pack/pack-7b44ba2b7e71bd07c8c550452646cf7760cbde60.idx filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/av.git/objects/pack/pack-7b44ba2b7e71bd07c8c550452646cf7760cbde60.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/av.git/objects/pack/pack-dea84c7299ade48a57e5c8162de3d1c42efd9895.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/native.git/objects/pack/pack-91e3ff990ed31093b727f3a5b5e6711899b0a24b.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/native.git/objects/pack/pack-935a36f2ad654b91e3c6ab53f72e06806bf0930b.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/native.git/objects/pack/pack-e03c101f0a4f6abc6f40c3a6bcb3544a1c49f6a3.idx filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/frameworks/native.git/objects/pack/pack-e03c101f0a4f6abc6f40c3a6bcb3544a1c49f6a3.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/hardware/interfaces.git/objects/pack/pack-267c6b3c202d833eb48213ed156a6ec055497c60.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/hardware/interfaces.git/objects/pack/pack-4b7543833aaa031f4fbddabdd2ae0c89b9fdbcec.idx filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/hardware/interfaces.git/objects/pack/pack-4b7543833aaa031f4fbddabdd2ae0c89b9fdbcec.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/hardware/interfaces.git/objects/pack/pack-ad6394badad97dcc1b5b50125962ed910cea6c85.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/hardware/st/nfc.git/objects/pack/pack-a85cb682915d0660e4759e763e36180d1e976972.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/DnsResolver.git/objects/pack/pack-95f7dae1430f4b2c48fd2321edb96d77eab89323.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/NeuralNetworks.git/objects/pack/pack-4ab457a0a1182f3aaaffdee186e153f5cd64ebfb.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/NeuralNetworks.git/objects/pack/pack-ff0c8044ab9c270ad59c37989ad1fb94141efd94.idx filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/NeuralNetworks.git/objects/pack/pack-ff0c8044ab9c270ad59c37989ad1fb94141efd94.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/StatsD.git/objects/pack/pack-0f2936531830dab032544789bc82e8aee77acac3.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/StatsD.git/objects/pack/pack-68f491d87146ba8ae8ec0b15363078e055f135fc.idx filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/packages/modules/StatsD.git/objects/pack/pack-68f491d87146ba8ae8ec0b15363078e055f135fc.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/project-objects/platform/system/tools/aidl.git/objects/pack/pack-561e722d6598bd34fbfe73522aa0ca912b658557.pack filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/.repo/projects/hardware/interfaces.git/index filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/index filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/02/ef9120c6ce47908fbe80e29170e19aab6149da filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/0d/252b64d78fd71a12a1d36ef765c05a816579d4 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/0e/8a1bd2fbc99a804c7d6fd611cbe22ce2d8aff9 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/2c/81f981089dda75514a4c2791ae0c4f029b7b4b filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/35/369c346cd1cef4e2d6f995b0be498152d35f4c filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/36/e6e9fd81033a8b3a1794b076aeaf2a7ca848de filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/38/679d0fb14eadc23f4b29812b572904b479d280 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/3a/e244edfcfaad1df4b134c000163f343c68dad1 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/47/dfce7e21eab2ba136059cd09c626d6fda844d4 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/4a/b2bcce802b57a32d4bfb6460d5d5883d38f189 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/71/361dd6c83bd6b464e8444c48f2530deb63ca7f filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/82/6768e527ad79304ad03ba27aafe872415f1229 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/82/aaf342cafc5267859efdbd8478f1f352c07041 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/88/77ce80dd04344b365662f68ee28e21b91fb558 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/8b/2f9c9d1049fc690682dcd8ec39a82e419fdbfa filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/95/9a9ae78011589f1c0042b7292a81408d120c59 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/a0/29246f1faff9cc8590e2c5c93a0b4ee38d15fe filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/bd/c22308d361e10cb87ad15b4e4a544f8259a093 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/cd/b1ea6102c13dd7eb860e004c3b0d97efb8b22b filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/d1/e12a99952df3b46c6eb74448726f8ef1e41d03 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/e3/5d9d96db336bbae03ffcf496b604f0fafe36f7 filter=lfs diff=lfs merge=lfs -text
/AOSP-mirror/not.git/objects/f6/e95e1666120a8ba785fb0fe0f09c6dcb0523e7 filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/00_FuzzHelloServer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/00_FuzzHelloServer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/00_FuzzHelloServer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/00_FuzzHelloServer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/00_FuzzHelloServer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/libstatspull.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/resolv_service_fuzzer filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/01_resolv_service_fuzzer/resolv_service_fuzzer_autogen filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/02_nfc_service_fuzzer/libaconfig_storage_read_api_cc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/02_nfc_service_fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/02_nfc_service_fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/02_nfc_service_fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/02_nfc_service_fuzzer/libhidlbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/libprotobuf-cpp-lite.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/statsd_service_fuzzer filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/03_statsd_service_fuzzer/statsd_service_fuzzer_autogen filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/04_android.hardware.threadnetwork-service.fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/04_android.hardware.threadnetwork-service.fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/04_android.hardware.threadnetwork-service.fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/04_android.hardware.threadnetwork-service.fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/04_android.hardware.threadnetwork-service.fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/installd_service_fuzzer filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/installd_service_fuzzer_autogen filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libcrypto.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/05_installd_service_fuzzer/libprocessgroup.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.cas@1.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.drm@1.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.graphics.bufferqueue@1.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.graphics.bufferqueue@2.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.bufferpool@2.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.c2-V1-ndk.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.c2@1.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.c2@1.1.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.c2@1.2.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.hardware.media.omx@1.0.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/android.media.audio.common.types-V4-cpp.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/audioflinger-aidl-cpp.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libEGL.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaconfig_storage_read_api_cc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libartbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaudio_aidl_conversion_common_cpp.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaudioclient.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaudioclient_aidl_conversion.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaudiofoundation.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libaudioutils.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libcamera_client.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libcodec2_client.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libcodec2_vndk.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libdexfile.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libgui.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libhidlbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libicui18n.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libicuuc.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libmedia.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libmedia_codeclist_capabilities.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libmediautils.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libnativeloader.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libnblog.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libprocessgroup.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libsfplugin_ccodec.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libsfplugin_ccodec_utils.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libstagefright.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libstagefright_aidl_bufferpool2.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libstagefright_bufferpool@2.0.1.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libstagefright_framecapture_utils.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libstagefright_omx.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libui.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libunwindstack.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/06_mediaextractor_service_fuzzer/libvulkan.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/07_android.hardware.automotive.occupant_awareness-service.fuzzer/libapexsupport.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/07_android.hardware.automotive.occupant_awareness-service.fuzzer/libbase.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/07_android.hardware.automotive.occupant_awareness-service.fuzzer/libbinder.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/07_android.hardware.automotive.occupant_awareness-service.fuzzer/libc++.so filter=lfs diff=lfs merge=lfs -text
/evaluation_campaign/fuzz_scripts/07_android.hardware.automotive.occupant_awareness-service.fuzzer/libc.so filter=lfs diff=lfs merge=lfs -text
/helpers/aidl_list.txt filter=lfs diff=lfs merge=lfs -text
